\def \MyName                             {John Doe}
\def \MySlogan                           {Best Professionist Ever}
\def \MyAdress                           {Nowhere Blvd}
\def \MyCity                             {Anytown, Thatworld}
\def \MyVat                              {0987654321}
\def \MyTaxCode                          {ABCDEFGHIJ} % optional
\def \MyBankCode                         {XY012345678901234567890123}
\def \MyContacts                         {johndoe.example.com}

\def \ClientName                         {My Favorite Company}
\def \ClientAddress                      {22 Acacia Ave}
\def \ClientCity                         {Somecity, Thisworld}
\def \ClientVat                          {1234567890}

\def \InvoiceNumberValue                 {1}
\def \InvoiceIsoDate                     {October 09, 2014}

\def \ActivityDescription                {Got a cat down from a very high tree}
\def \ActivityFee                        {10000.00}

%To make the optional tax disappear from the invoice, put this value to 0
%\def \OptionalTaxRate                   {0}
